:root{
    /* Color */

    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);

    --Brown-800: hsl(14, 45%, 36%);

    --Rose-00: hsl(332, 51%, 32%);
    --Rose-0: hsl(330, 100%, 98%);

    --font1:Young Serif;
    --font2:outfit;
}

*{
    margin: 0;
}

body{
    font-size: 16px;
    font-family: outfit, sans-serif;
}

.card{
    padding: 200px 32px 0 32px;

}

.card_img{
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    right: 0
}

.title, .subtitle{
    font-family:var(--font1);
}

.card_description{
    margin-bottom: 20px;
}

.paragraph{
    color: var(--Stone-600);
}

.preparation-title{
    color: var(--Rose-00);
}

.subtitle{
    color: var(--Brown-800);   
}

.card_time{
    background-color: var(--Rose-0);
    padding: 10px;
    border-radius: 10px;
}

.preparation_list{
    /* outline: 1px solid red; */
    padding: 15px;
}
.list-bold{
    font-weight: bold;
}










.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }